#about {
    min-height: 80vh;

    .hero {
        .webskills {
            // max-width: 100%;
            header.custom {
                margin-top: 0;
                position: relative;
                text-align: center;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #1e1e20;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -2;
                }

                h2 {
                    margin-top: 15px;
                    display: inline-block;
                    padding: 0 24px;
                    background: #151516;
                }
            }

            .items {
                // margin-top: 42px;
                margin-left: -20px;
                margin-right: -20px;
                
                .item {
                    position: relative;
                    margin-top: 10px;
                    background-color: #658df25e;
                    text-align: center;
                    padding: 22px 8px;
                    border-radius: 8%;
                    z-index: 1;
                    overflow: hidden;

                    &:hover {
                        &:before,
                        &:after {
                            transform: translate(0, 0);
                        }
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: #658df2 ;
                        left: 0;
                        top: 0;
                        border-radius: 8%;
                        z-index: -1;
                        transform: translate(100%, -100%);
                        transition: all 0.6s;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: #658df2 ;
                        left: 0;
                        top: 0;
                        border-radius: 8%;
                        z-index: -1;
                        transform: translate(-100%, 100%);
                        transition: all 0.6s;
                    }
                }
                img {
                    margin-bottom: 22x;
                }
            }
        }

        .info {
            h1 {
                margin-bottom: 42px;
                margin-top: 10px;
            }

            p {
                max-width: 560px;
                $gray: #b6b7ba;
            }
        }
    }
}