#careerbackground {
    header.has-bg {
        margin-bottom: 42px;
    }

    header.custom {
        position: relative;
        text-align: center;
        margin-bottom: 42px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #1e1e20;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -2;
        }

        h2 {
            display: inline-block;
            padding: 0 24px;
            background: #151516;
        }
    }

    .items {
        .item {
            display: flex;
            margin-bottom: 42px;
            
            // &.last {
            //     .icon i, 
            //     .box .title {
            //         color: #ffc400fd;
            //     }
            // }

            .icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff0d;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                font-size: 18px;
                margin-right: 46px;
                margin-top: 23px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 126px;
                    background: #1e1e20;
                    top: 70px;
                }
            }

            .box {
                // width: 60%;
                // height: 12em;
                position: relative;
                padding: 32px;
                background: rgba(#1e1e20, 75%);
                border-radius: 8px;
                z-index: 1;
                flex-grow: 1;
                text-align: left;

                &:before {
                    content: "";
                    position: absolute;
                    border-right: 9px solid rgba(#1e1e20, 75%);
                    border-top: 9px solid transparent;
                    border-bottom: 9px solid transparent;
                    left: -9px;
                    top: 36px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 8px;
                    // background: color.adjust(#658df2, $lightness: -30%);
                    z-index: -1;
                    transition: all 0.3s;
                }

                .year {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 16px;
                }

                .title {
                    margin-bottom: 16px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #b6b7ba;
                    max-width: 345px;
                }
            }
        }
    }

    .education {
        padding-right: 34px;
    }
    .experience {
        padding-left: 34px;
    }
}
