#contacts {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title-text1 {
                text-align: center;
                color: #b6b7ba;
        }
        
        .title-text2 {
                text-align: center;
        }

        .upper-container {
                display: flex;
                justify-content: center;
                border-radius: 2rem;
                border: #ffffff 0.1rem solid;
                border-color: #ffffff;
                background: #151516;;
                margin: 2rem auto;
                padding: 0.5rem;
                
                .contact-info {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        margin: 1rem;

                        p {
                                font-size: larger;
                                a {
                                        text-decoration: none;
                                        color: #ffc400fd;
                                        background-color: transparent;
                                }


                                
                        }

                        i {
                                font-size: 32px;
                                cursor: default;
                        }
                }

        }
}