@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
// $font-heading: "Arimo", sans-serif;
// $font-body: "Nunito Sans", sans-serif;