#home {
    .btn-custom-blue {
        background-color: #ffc400fd;
        color: #000000fd;
    }

    .info {
        padding-top: 281px;

        img.second-logo {
            margin-bottom: 24px;
        }

        h1 {
            margin-bottom: 24px;

            span {
                color: #b6b7ba;
            }
        }

        .typefield {
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            h2 {
            color: #b6b7ba;
            margin: 0;
            }

            span {
                font-size: 21px;
                margin-left: 2px;
            }
        }

        p {
            max-width: 430px;
            margin-bottom: 74px;
        }

        .socials {
            margin-top: 121px;
            
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-right: 8px;

                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        padding: 9px 11px;
                        transition: all 0.3s;

                        &:hover {
                            background: #1e1e20;
                            border-radius: 6px;

                            span,
                            i {
                                color: #fff;
                            }
                        }

                        i {
                            font-size: 22px;
                            margin-right: 8px;
                            color: #b6b7ba;
                            transition: all 0.3s;
                        }

                        span {
                            color: #808185;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }

    .my-img {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        img {
            border-radius: 16px;
            max-width: 100%;
        }
    }
}