@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1199px) {
    #careerbackground {
        .experience {
            margin-top: 35px;
        }
    }
}


@media (max-width: 991px) {
    #home {
        .my-img {
            justify-content: flex-start;
            height: unset;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .modal#projectModal .modal-dialog .modal-content .modal-body {
        .modal-close-button {
        right: 10px;
        top: 10px;
        }
        .right {
            padding-left: 0;
            padding-top: 32px;
        }
    }
}


@media (max-width: 767px) {
    #sidebar {
        background: darken(#1e1e20, 30%);
        padding-right: 60px;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 5;

        &.open {
            transform: translateX(0);
        }

        .toggle-sidebar {
            display: flex;
        }

        .logo {
            text-align: left;
        }

        nav ul li {

            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                span {
                    display: block;
                    padding: 8px;
                }
            }

            > span {
                display: none;
            }
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        padding-left: 0;

        > section {
            padding-right: 32px;
            padding-left: 32px;
        }
    }

    #home {
        .info {
            padding-top: 80px;

            .socials {
                margin-top: 70px;

                ul {
                    justify-content: space-between;
                }
            }
        }
    }

    #about {
        h1 {
            margin-bottom: 0px;
        }
        p {
            font-size: 16px;
            padding-bottom: 10px;
        }
    }

    .modal#projectModal {
        .modal-dialog .modal-content .modal-body {
            img {
                height: unset;
            }

            .left {
                padding-right: 0;
            }

            .right {
                padding-left: 0;
                padding-top: 32px;
            }
        }
    }

    #projects {
        .filters {
            margin-top: 51px;
            margin-bottom: 45px;
        }
    }

    #careerbackground {
        .items {
            .item {
                position: relative;

                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -23px;
                    z-index: 2;
                    margin-top: 0;

                    &:before {
                        display: none;
                    }
                }

                .box:before {
                    display: none;
                }
            }
        }

        .education,
        .experience {
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    #contacts {
        .upper-container {
            width: 100%;
            flex: wrap;
            flex-direction: column;
            text-align: center;
            .contact-info {

                margin: 0;
                p {
                    font-size: 1rem;
                }
            }

        }
    }

    #footer-bottom {
        .icons-link-footer {
        }
        ul {

        }

        .real-footer {
            margin-bottom: 32px;
        }
    }
}