#sidebar {
    position: fixed;
    height: 100vh;
    padding-right: 39px;
    padding-left: 39px;
    display: flex;
    flex-direction: column;

    .toggle-sidebar {
        position: absolute;
        font-size: 30px;
        width: 45px;
        height: 45px;
        background: darken(#1e1e20, 30%);
        display: none;
        justify-content: center;
        align-items: center;
        right: -45px;
    }

    .logo {
        height: 20%;
        padding-top: 62px;
        text-align: center;
    }

    nav {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                margin-bottom: 35px;

                a {
                    position: relative;

                    &:hover {
                        i {
                            color: #fff;
                        }
                        
                        + span {
                            opacity: 1;
                            left: 30px;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        background: #658df2;
                        opacity: 0;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: all 0.3s
                    }

                    &.active {
                        &:before {
                            opacity: 15%;
                            transform: translate(-50%, -50%) scale(1);
                        }

                        i {
                            color: #658df2;
                        }
                    }

                    span {
                        display: none;
                    }

                    i {
                        font-size: 18px;
                        color: #b6b7ba;
                        transition: all 0.3s;
                    }
                }

                > span {       
                    position:absolute;
                    white-space: nowrap;
                    top: -8px;
                    left: 20px;
                    padding: 7px 13px;
                    background: rgba(#1e1e20, 0.75);
                    border-radius: 6px;
                    opacity: 0;
                    transition: all 0.3s;
                }
            }
        }
    }

    .toggle-mode {
        height: 20%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 62px;

        .outer {
            width: 24px;
            height: 35px;
            background: #1e1e20;
            border-radius: 24px;

            .inner {
                position: relative;
                width: 14px;
                height: 14px;
                background: #658df2;
                border-radius: 50%;
                margin-right: auto;
                margin-left: auto;
                margin-top: 16px;

                &:before {
                    position: absolute;
                    content: "";
                    // width: 14px;
                    // height: 14px;
                    background: #1e1e20;
                    top: -4px;
                    left: 3px;
                    // border-radius: 50%;
                }
            }
        }
    }
} 