html {
    scroll-behavior: smooth;
}

main {
    padding-left: 102px;

    > section {
        display: block;
        padding-right: 32px;
        padding-left: 32px;
        min-height: 30vh;

        &:not(#home) {
            padding-top: 64px;
        }

        &.active {
            display: block;
        }
    }
}