h1, h2, h3, h4, h5, h6 {
    font-family: "Arimo", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #151516;
}

* {
    color: #ffffff;
}