@use "./reset";
@use "./fonts";
@use "./typeface";

@use "./structure";
@use "./buttons";

@use "./sidebar";

@use "./home";
@use "./about";
@use "./projects";
@use "./experience";
@use "./contacts";

@use "./responsive";